body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    position: fixed; /* Делаем шапку фиксированной */
    top: 0; /* Привязываем к верхней части окна */
    width: 100%; /* Задаем ширину в 100% */
    z-index: 1000; /* Устанавливаем z-index, чтобы шапка была поверх других элементов */
    border-bottom: 1px solid lightgray;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    height: 5em;
    margin: 10px 40px 10px 5em;
}

.site-title {
    color: black;
    font-size: 50px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin-right: 100px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 25px;
    letter-spacing: -1px;
    color: #C0C0C0;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

nav ul li .dropbtn::after {
    content: ' ▼';
    font-size: 0.7em;
}

nav ul li a:hover, .dropdown-content a:hover {
    color: blue;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    text-align: center;
    padding-top: 100px; /* Увеличиваем отступ сверху, чтобы компенсировать фиксированное меню */
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

#home {
    align-items: unset;
    background-color: white;
    position: relative;
}

#home-anchor {
    display: block;
    position: relative;
    top: -100px; /* Отступ, равный высоте меню */
    visibility: hidden;
}


.image-container img {
    border-radius: 50px;
    max-width: 100%;
    height: 83%;
    margin-top: 15px;
}
.image-container::after {
    content: "";
    position: absolute;
    top: 29px;
    left: 21px;
    right: 21px;
    bottom: 166px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    border-radius: 50px;
    pointer-events: none; /* Чтобы затемнение не мешало взаимодействию с изображением */
}

#map-section {
    background-color: #343845;
    position: relative; /* Чтобы всплывающее окно было позиционировано относительно секции */
    height: 100vh;
}

.map-placeholder {
    width: 100%; /* Сделать картинку во всю секцию */
    height: 100%;
    overflow: hidden;
    position: relative;
}

.map-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.overlay-button {
    color: white;
    position: absolute;
    top: 32%;
    right: 28%;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    font-size: 38px;
}
.overlay-button:hover {
    position: absolute;
    top: 31%;
    right: 26%;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    font-size: 48px;
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
}
#popup {
    position: absolute;
    top: 8%;
    right: -55%; /* Начальное положение за пределами экрана */
    width: 40%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    transition: right 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

#popup.show {
    right: 0; /* Когда окно открыто, оно сдвигается на экран */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 4em;
    cursor: pointer;
}

.close-button:hover {
    color: #000;
}

.popup-image-placeholder {
    width: 80%;
    height: 200px;
    background-color: #ddd;
    margin-bottom: 20px;
}

.download-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.download-button:hover {
    background-color: #555;
}

#popup.show {
    right: 0; /* Когда окно открыто, оно сдвигается на экран */
}


#inside-section {
    background-color: #343845;
    flex-direction: column;
    padding: 20px;

}

#inside-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    margin-right: 50%;
    background-color: #5f616e;
    border-radius: 10px;
}

#inside-form label {
    margin-top: 10px;
}

#inside-form input[type="text"],
#inside-form input[type="number"],
#inside-form button {
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
}

#inside-form button {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

#inside-form button:hover {
    background-color: #555;
}

#risk-profile,
#desired-return {
    display: flex;
    justify-content: space-between;
}

#calculation-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculation-popup h2 {
    margin-bottom: 20px;
}

#calculation-popup button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

#calculation-popup button:hover {
    background-color: #555;
}


#analytics-section {
    background-color: #343845;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

#analytics-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.slider-container {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slider {
    display: flex;
    transition: transform 0.6s ease;
}

.slide {
    min-width: 33.33%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.slide img {
    width: 100%;
    height: auto;
}

.slide p {
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}




footer {
    background-color: #343845;
    color: white;
    padding: 20px;
    text-align: center;
}

footer h2 {
    margin-top: 0;
}

footer p {
    margin: 10px 0 0;
}

